@import "../../res.less";

.mapBox {
  width: 14413px;
  height: 317px;
  left: 341px;
  top: 288px;
  position: relative;
  .mapItem {
    max-width: 113px;
    max-height: 134px;
    min-width: 104px;
    min-height: 75px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    .starBox {
      width: 100px;
      height: 31px;
      position: absolute;
      top: -32px;
      img {
        width: 28px;
        height: 28px;
        &:nth-child(2) {
          margin:0 7px 5px 7px;
        }
      }
    }
    .head-hand {
      position: absolute;
      top: -78px;
      width: 144px;
      display: flex;
      align-items: center;
      flex-direction: column;
      z-index: 1;
      pointer-events: none;
      .headiconbox {
        width: 78px;
        height: 88px;
        position: absolute;
        top: 0;
        pointer-events: none;
        .headboxbottombg {
          width: 78px;
          height: 88px;
          .sparkBg("mapPage/headBoxBottomBg.png");
        }
    
        .headboxbottomimg {
          width: 70px;
          height: 70px;
          left: 5px;
          top: 4px;
          position: absolute;
          border-radius: 35px;
          .sparkBg("mapPage/headBoxBottomImg.png");
        }
      }
      .gesturesAperture {
        width: 144px;
        height: 151px;
        top: 70px;
        right: -30px;
        position: absolute;
        pointer-events: none;
      }
    }
    .levelBox {
      max-width: 113px;
      max-height: 134px;
      min-width: 104px;
      min-height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.needwait {
        width: 110px;
        height: 99px;
        .sparkBg("mapPage/敬请期待.png");
        &:active {
          animation: left-right 0.4s forwards;
        }
      }
      &.lockBtn {
        width: 110px;
        height: 99px;
        padding: 0 10px 10px 0;
        box-sizing: border-box;
        .sparkBg("mapPage/lockBtn.png");
        &:active {
          animation: left-right 0.4s forwards;
        }
      }
      &.greenBtn {
        padding: 0 0 20px 0;
        box-sizing: border-box;
        .sparkBg("mapPage/greenLevelBg.png");
        &:active {
          animation: breathBig 1s forwards;
        }
      }
      &.giftBtn {
        width: 113px;
        height: 134px;
        .sparkBg("mapPage/gift.png");

      }
      .num {
        max-width: 18px;
        max-height: 22px;
      }
    }
  }
}