@import "../../res.less";
.myprize {
  width: 820px;
  height: 564px;
  position: absolute;
  transform: rotate(90deg);
  overflow: hidden;
  .fenwei {
    position: absolute;
    left:0px;
    top:150px;
    width: 820px;
    height: 219px;
    .sparkBg("common/冰雪氛围2.png");
  }
  .popoverBaseplate3 {
    width: 637px;
    height: 545px;
    left: 84px;
    top: 19px;
    position: absolute;
    .sparkBg("myPrize/弹窗底板3.png");
  }
  .text-prize {
    position: absolute;
    top: 118px;
    color: #000;
    width: 535px;
    left: 126px;
    text-align: center;

  }
  .shutDown {
    width: 50px;
    height: 51px;
    left: 645px;
    top: 0px;
    position: absolute;
    .sparkBg("common/close.png");
  }
  .prizelistbox {
    width: 535px;
    height: 366px;
    position: relative;
    top: 160px;
    left: 127px;
    overflow-y: auto;
    .prizelistitem {
      width: 100%;
      height: 116px;
      margin-bottom: 17px;
      padding: 15px;
      display: flex;
      background: #ebf2f9;
      border: 2px solid #dae5ea;
      border-radius: 10px;
      box-sizing: border-box;
      .prizelistimg {
        width: 82px;
        height: 82px;
        margin-right: 15px;
        border-radius: 10px;
        background: #fff;
      }
      .right-detail {
        width: 407px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: rgba(56, 112, 160, 1);
        .namePrize {
          width: 100%;
          font-size: 28px;
          font-weight: bold;
        }
        .time-prize {
          width: 100%;
          font-size: 24px;
        }
      }
     
    }
    .nodata {
      text-align: center;
      margin-top: 150px;
      font-size: 36px;
    }
  }
  .iceAndSnowAtmosphere2 {
    width: 820px;
    height: 417px;
    left: 0px;
    top: 147px;
    position: absolute;
    pointer-events: none;
    .sparkBg("common/冰雪氛围.png");
  }
}
