@import "../../res.less";
.myprize {
  width: 820px;
  height: 564px;
  left: 413px;
  top: 100px;
  position: absolute;
  .popoverBaseplate3 {
    width: 615px;
    height: 533px;
    left: 74px;
    top: 19px;
    position: absolute;
    .sparkBg("myPrize/弹窗底板3.png");
  }
  .shutDown {
    width: 50px;
    height: 51px;
    left: 645px;
    top: 0px;
    position: absolute;
    .sparkBg("myPrize/关闭.png");
  }
  .me {
    width: null;
    height: null;
    left: null;
    top: null;
    position: absolute;
    .sparkBg("myPrize/主题.png");
  }
  .layer1 {
    width: 538px;
    height: 116px;
    left: 113px;
    top: 135px;
    position: absolute;
    .rectangular2139 {
      width: 538px;
      height: 116px;
      left: 0px;
      top: 0px;
      position: absolute;
      opacity: 0.55;
      .sparkBg("myPrize/矩形2139.png");
    }
    .rectangular1730 {
      width: 82px;
      height: 82px;
      left: 20px;
      top: 16px;
      position: absolute;
      .sparkBg("myPrize/矩形1730.png");
    }
    .namePrize {
      width: 119px;
      height: 27px;
      left: 121px;
      top: 27px;
      position: absolute;
      opacity: 0.9;
      font-size: 28px;
      line-height: 27px;
      color: rgba(56, 112, 160, 1);
    }
    .layer20214 {
      width: 119px;
      height: 18px;
      left: 120px;
      top: 73px;
      position: absolute;
      opacity: 0.8;
      font-size: 24px;
      line-height: 18px;
      color: rgba(56, 112, 160, 1);
    }
  }
  .iceAndSnowAtmosphere2 {
    width: 820px;
    height: 417px;
    left: 0px;
    top: 147px;
    position: absolute;
    pointer-events: none;
    .sparkBg("common/冰雪氛围2.png");
  }
}
