@import "../../res.less";
.unlockPopover1 {
  width: 668px;
  height: 610px;
  position: absolute;
  transform: rotate(90deg);
  .bg {
    width: 668px;
    height: 610px;
    left: 0px;
    top: 0px;
    position: absolute;
    .sparkBg("解锁弹窗1/bg.png");
  }
  .shutDown {
    width: 46px;
    height: 45px;
    left: 583px;
    top: 114px;
    position: absolute;
    .sparkBg("common/close.png");
  }
  .button {
    width: 399px;
    height: 93px;
    left: 134px;
    top: 425px;
    position: absolute;
    .sparkBg("解锁弹窗1/按钮.png");
  }
}
