@import "../../res.less";
.rule {
  width: 820px;
  height: 561px;
  position: absolute;
  transform: rotate(90deg);
  overflow:hidden !important;
  .rule-fenwei {
    position: absolute;
    left:0px;
    top:150px;
    width: 820px;
    height: 219px;
    .sparkBg("common/冰雪氛围2.png");
  }
  .popoverBaseplate5 {
    width: 600px;
    height: 543px;
    left: 111px;
    top: 20px;
    position: absolute;
    .sparkBg("rule/弹窗底板5.png");
  }
  .ruleInfo {
    width: 480px;
    height: 380px;
    left: 158px;
    top: 134px;
    font-size: 24px;
    color: #2f77b3;
    position: absolute;
    overflow-x: auto;
    // overflow-y: auto;
  }
  .snowAndIceAtmosphere4 {
    width: 820px;
    height: 417px;
    left: 0px;
    top: 126px;
    position: absolute;
    pointer-events: none;
    .sparkBg("common/冰雪氛围.png");
  }
  .close {
    width: 50px;
    height: 50px;
    left: 640px;
    top: 0;
    position: absolute;
    .sparkBg("common/close.png")
  }
  .img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9,.img10 {
    width: 180px;
    height: 180px;
  }
}
