@import "../../res.less";
.rule {
  width: 1020px;
  height: 561px;
  position: absolute;
  transform: rotate(90deg);
  overflow:hidden !important;
  height: 100vw;
  margin-top: 40px;
  .rule-title {
    position: absolute;
    left: 258px;
    width: 455px;
    height: 91px;
    top:80px;
    .sparkBg("rule/title.png");
    z-index: 1;
  }
  .rule-fenwei {
    position: absolute;
    left:0px;
    top:150px;
    width: 820px;
    height: 219px;
    .sparkBg("common/冰雪氛围2.png");
  }
  .popoverBaseplate5 {
    width: 750px;
    height: 580px;
    left: 111px;
    top: 123px;
    position: absolute;
    // .sparkBg("rule/弹窗底板5.png");
  }
  .ruleInfo-content {
    border-radius: 20px;
    overflow:hidden;
    width:750px;
    height: 579px;
  }
  .ruleInfo {
    width:750px;
    height: 600px;
    left: 97px;
    top: 94px;
    font-size: 0;
    color: #2f77b3;
    position: absolute;
    overflow-x: auto;

    // overflow-y: auto;
  }
  .ruleImg {
    width: 750px;
    height: 9632px;
  }
  .snowAndIceAtmosphere4 {
    width: 820px;
    height: 417px;
    left: 0px;
    top: 126px;
    position: absolute;
    pointer-events: none;
    .sparkBg("common/冰雪氛围.png");
  }
  .close {
    width: 50px;
    height: 50px;
    left: 820px;
    top: 30px;
    position: absolute;
    .sparkBg("common/close.png")
  }
  .ruleImg {
  }
  .img1 {
    width: 750px;
    height: 1907px;
  }
  .img2 {
    width: 750px;
    height: 1032px;
  }
  .img3 {
    width: 750px;
    height: 1695px;
  }
  .img4 {
    width: 750px;
    height: 1241px;
  }
  .img5 {
    width: 750px;
    height: 1984px;
  }
  .img6 {
    width: 750px;
    height: 1855px;
  }
  // .img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9,.img10 {
  //   width: 180px;
  //   height: 180px;
  // }
}
