@import "../../res.less";

.mappage {
  width: 15430px;
  height: 750px;
  left: 0px;
  top: 0px;
  position: absolute;

  .mapBgbox {
    width: 15430px;
    height: 750px;
    left: 0px;
    top: 0px;
    position: absolute;

    .mapBgimg1 {
      width: 7715px;
      height: 750px;
      position: absolute;
      .sparkBg("mapPage/mapBg1.png");
    }

    .mapBgimg2 {
      width: 7715px;
      height: 750px;
      position: absolute;
      left: 7715px;
      .sparkBg("mapPage/mapBg2.png");
    }
  }

  .levelbox {
    width: 3160px;
    height: 296px;
    left: 342px;
    top: 291px;
    position: absolute;

    .alreadylevel {
      width: 104px;
      height: 108px;
      left: 0px;
      top: 0px;
      position: absolute;

      .startlist {
        width: 98px;
        height: 31px;
        left: 3px;
        top: 0px;
        position: absolute;

        .startitem1 {
          width: 28px;
          height: 28px;
          left: 0px;
          top: 3px;
          position: absolute;
          .sparkBg("mapPage/startItem1.png");
        }

        .startitem2 {
          width: 28px;
          height: 28px;
          left: 35px;
          top: 0px;
          position: absolute;
          .sparkBg("mapPage/startItem2.png");
        }

        .startitem3 {
          width: 28px;
          height: 28px;
          left: 70px;
          top: 3px;
          position: absolute;
          .sparkBg("mapPage/startItem3.png");
        }
      }

      .nostartlist {
        width: 98px;
        height: 31px;
        left: 3px;
        top: 0px;
        position: absolute;

        .nostart1 {
          width: 28px;
          height: 28px;
          left: 0px;
          top: 3px;
          position: absolute;
          .sparkBg("mapPage/noStart1.png");
        }

        .nostart2 {
          width: 28px;
          height: 28px;
          left: 35px;
          top: 0px;
          position: absolute;
          .sparkBg("mapPage/noStart2.png");
        }

        .nostart3 {
          width: 28px;
          height: 28px;
          left: 70px;
          top: 3px;
          position: absolute;
          .sparkBg("mapPage/noStart3.png");
        }
      }

      .levelbg {
        width: 104px;
        height: 75px;
        left: 0px;
        top: 33px;
        position: absolute;
        .sparkBg("mapPage/levelBg.png");
      }

      .levelnumbox {
        width: 18px;
        height: 22px;
        left: 44px;
        top: 47px;
        position: absolute;

        .level_1 {
          width: 11px;
          height: 22px;
          left: 2px;
          top: 0px;
          position: absolute;
          .sparkBg("mapPage/level_1.png");
        }

        .level_2 {
          width: 15px;
          height: 22px;
          left: 1px;
          top: 0px;
          position: absolute;
          .sparkBg("mapPage/level_2.png");
        }

        .level_3 {
          width: 15px;
          height: 22px;
          left: 1px;
          top: 0px;
          position: absolute;
          .sparkBg("mapPage/level_3.png");
        }

        .level_4 {
          width: 18px;
          height: 22px;
          left: 0px;
          top: 0px;
          position: absolute;
          .sparkBg("mapPage/level_4.png");
        }

        .level_5 {
          width: 15px;
          height: 22px;
          left: 1px;
          top: 0px;
          position: absolute;
          .sparkBg("mapPage/level_5.png");
        }

        .level_6 {
          width: 17px;
          height: 22px;
          left: 0px;
          top: 0px;
          position: absolute;
          .sparkBg("mapPage/level_6.png");
        }

        .level_7 {
          width: 15px;
          height: 22px;
          left: 1px;
          top: 0px;
          position: absolute;
          .sparkBg("mapPage/level_7.png");
        }

        .level_8 {
          width: 17px;
          height: 22px;
          left: 0px;
          top: 0px;
          position: absolute;
          .sparkBg("mapPage/level_8.png");
        }

        .level_9 {
          width: 17px;
          height: 22px;
          left: 0px;
          top: 0px;
          position: absolute;
          .sparkBg("mapPage/level_9.png");
        }

        .level_0 {
          width: 17px;
          height: 22px;
          left: 0px;
          top: 0px;
          position: absolute;
          .sparkBg("mapPage/level_0.png");
        }
      }
    }

    .nextedlevel {
      width: 110px;
      height: 99px;
      left: 401px;
      top: 197px;
      position: absolute;

      .nextedbg {
        width: 110px;
        height: 99px;
        left: 0px;
        top: 0px;
        position: absolute;
        .sparkBg("mapPage/nextedBg.png");
      }

      .nextedtest {
        width: 26px;
        height: 20px;
        left: 42px;
        top: 33px;
        position: absolute;
        font-size: 27px;
        line-height: 20px;
        color: #d4f5ff;
      }
    }

    .forwardlevel {
      width: 110px;
      height: 99px;
      left: 3050px;
      top: 111px;
      position: absolute;

      .forwardicon {
        width: 110px;
        height: 99px;
        left: 0px;
        top: 0px;
        position: absolute;
        .sparkBg("mapPage/forwardIcon.png");
      }
    }
  }

  .gifticonbox {
    width: 11753px;
    height: 317px;
    left: 1674px;
    top: 289px;
    position: absolute;

    .gift2 {
      width: 113px;
      height: 134px;
      left: 1419px;
      top: 181px;
      position: absolute;
      .sparkBg("mapPage/gift2.png");
    }

    .gift1 {
      width: 113px;
      height: 134px;
      left: 0px;
      top: 182px;
      position: absolute;
      .sparkBg("mapPage/gift1.png");
    }

    .gift3 {
      width: 113px;
      height: 134px;
      left: 2911px;
      top: 91px;
      position: absolute;
      .sparkBg("mapPage/gift3.png");
    }

    .gift4 {
      width: 113px;
      height: 134px;
      left: 4365px;
      top: 0px;
      position: absolute;
      .sparkBg("mapPage/gift4.png");
    }

    .gift5 {
      width: 113px;
      height: 134px;
      left: 5791px;
      top: 11px;
      position: absolute;
      .sparkBg("mapPage/gift5.png");
    }

    .gift6 {
      width: 113px;
      height: 134px;
      left: 7266px;
      top: 89px;
      position: absolute;
      .sparkBg("mapPage/gift6.png");
    }

    .gift7 {
      width: 113px;
      height: 134px;
      left: 8727px;
      top: 183px;
      position: absolute;
      .sparkBg("mapPage/gift7.png");
    }

    .gift8 {
      width: 113px;
      height: 134px;
      left: 10159px;
      top: 172px;
      position: absolute;
      .sparkBg("mapPage/gift8.png");
    }

    .gift9 {
      width: 113px;
      height: 134px;
      left: 11640px;
      top: 82px;
      position: absolute;
      .sparkBg("mapPage/gift9.png");
    }
  }

  .giftbox {
    width: 515px;
    height: 666px;
    left: 14594px;
    top: 36px;
    position: absolute;

    .giftboximg {
      width: 358px;
      height: 272px;
      left: 82px;
      top: 163px;
      position: absolute;
      .sparkBg("mapPage/giftBoxImg.png");
    }

    .giftlist {
      width: 487px;
      height: 207px;
      left: 0px;
      top: 459px;
      position: absolute;

      .giftlistbg {
        width: 487px;
        height: 207px;
        left: 0px;
        top: 0px;
        position: absolute;
        .sparkBg("mapPage/giftListBg.png");
      }

      .gitlistimgbg {
        width: 387px;
        height: 101px;
        left: 54px;
        top: 45px;
        position: absolute;
        .sparkBg("mapPage/gitListImgBg.png");
      }

      .giftlisttext1 {
        width: 95px;
        height: 21px;
        left: 61px;
        top: 157px;
        position: absolute;
        font-size: 22px;
        line-height: 21px;
        color: #ffffff;
      }

      .giftlisttext2 {
        width: 119px;
        height: 21px;
        left: 192px;
        top: 157px;
        position: absolute;
        font-size: 22px;
        line-height: 21px;
        color: #ffffff;
      }

      .giftlisttext3 {
        width: 131px;
        height: 21px;
        left: 330px;
        top: 157px;
        position: absolute;
        font-size: 22px;
        line-height: 21px;
        color: #ffffff;
      }
    }

    .giftboxtitle {
      width: 500px;
      height: 134px;
      left: 15px;
      top: 0px;
      position: absolute;
      .sparkBg("mapPage/giftBoxTitle.png");
    }

    .opengiftbtn {
      width: 304px;
      height: 93px;
      left: 104px;
      top: 367px;
      position: absolute;
      .sparkBg("mapPage/openGiftBtn.png");
    }

    .getgiftbtn {
      width: 304px;
      height: 93px;
      left: 104px;
      top: 367px;
      position: absolute;
      .sparkBg("mapPage/getGiftBtn.png");
    }

    .giftboxpoint {
      width: 110px;
      height: 112px;
      left: 307px;
      top: 379px;
      position: absolute;
      .sparkBg("mapPage/giftBoxPoint.png");
    }
  }

  .btnbox {
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    pointer-events: none;
    position: fixed;

    .backbtn {
      width: 118px;
      height: 118px;
      left: 187px;
      top: 588px;
      position: absolute;
      .sparkBg("mapPage/backBtn.png");
    }

    .topheadbox {
      width: 218px;
      height: 74px;
      left: 95px;
      top: 25px;
      position: absolute;

      .topheadbg {
        width: 218px;
        height: 74px;
        left: 0px;
        top: 0px;
        position: absolute;
        .sparkBg("mapPage/topHeadBg.png");
      }

      .topheadimg {
        width: 57px;
        height: 58px;
        left: 12px;
        top: 8px;
        position: absolute;
        .sparkBg("mapPage/topHeadImg.png");
      }

      .topheadtext2 {
        width: 94px;
        height: 21px;
        left: 81px;
        top: 12px;
        position: absolute;
        font-size: 22px;
        line-height: 21px;
        color: #ffffff;
      }

      .topheadtext1 {
        width: 106px;
        height: 18px;
        left: 81px;
        top: 44px;
        position: absolute;
        font-size: 22px;
        line-height: 18px;
        color: #ebf7ff;
      }
    }

    .topiconbox {
      width: 172px;
      height: 55px;
      left: 344px;
      top: 38px;
      position: absolute;

      .topiconbg {
        width: 161px;
        height: 33px;
        left: 11px;
        top: 12px;
        position: absolute;
        .sparkBg("mapPage/topIconBg.png");
      }

      .topiconadd {
        width: 20px;
        height: 20px;
        left: 143px;
        top: 19px;
        position: absolute;
        .sparkBg("mapPage/topIconAdd.png");
      }

      .topiconimg {
        width: 57px;
        height: 55px;
        left: 0px;
        top: 0px;
        position: absolute;
        .sparkBg("mapPage/topIconImg.png");
      }

      .topicontext {
        width: 58px;
        height: 18px;
        left: 73px;
        top: 20px;
        position: absolute;
        font-size: 22px;
        line-height: 18px;
        color: #ebf7ff;
      }
    }

    .tipbox {
      width: 290px;
      height: 36px;
      right: 145px;
      top: 39px;
      position: absolute;

      .tipbg {
        width: 290px;
        height: 36px;
        left: 0px;
        top: 0px;
        position: absolute;
        .sparkBg("mapPage/tipBg.png");
      }

      .tiptext {
        width: 272px;
        height: 19px;
        left: 14px;
        top: 9px;
        position: absolute;
        font-size: 20px;
        line-height: 19px;
        color: #3987be;
      }
    }

    .closebtn {
      width: 173px;
      height: 63px;
      left: 1335px;
      top: 2px;
      position: absolute;
      .sparkBg("mapPage/closeBtn.png");
    }
  }

  .headiconbox {
    width: 78px;
    height: 88px;
    left: 528px;
    top: 305px;
    position: absolute;

    .headboxbottombg {
      width: 78px;
      height: 88px;
      left: 0px;
      top: 0px;
      position: absolute;
      .sparkBg("mapPage/headBoxBottomBg.png");
    }

    .headboxbottomimg {
      width: 69px;
      height: 70px;
      left: 5px;
      top: 4px;
      position: absolute;
      .sparkBg("mapPage/headBoxBottomImg.png");
    }
  }

  .delcoinbox {
    width: 181px;
    height: 61px;
    left: 617px;
    top: 31px;
    position: absolute;

    .iconbg {
      width: 181px;
      height: 61px;
      left: 0px;
      top: 0px;
      position: absolute;
      .sparkBg("mapPage/iconBg.png");
    }

    .icon {
      width: 49px;
      height: 46px;
      left: 35px;
      top: 7px;
      position: absolute;
      .sparkBg("mapPage/icon.png");
    }

    .numbox {
      width: 22px;
      height: 29px;
      left: 118px;
      top: 16px;
      position: absolute;

      ._1 {
        width: 18px;
        height: 28px;
        left: 2px;
        top: 0px;
        position: absolute;
        .sparkBg("mapPage/1.png");
      }

      ._2 {
        width: 21px;
        height: 28px;
        left: 0px;
        top: 0px;
        position: absolute;
        .sparkBg("mapPage/2.png");
      }

      ._3 {
        width: 21px;
        height: 29px;
        left: 0px;
        top: 0px;
        position: absolute;
        .sparkBg("mapPage/3.png");
      }

      ._4 {
        width: 22px;
        height: 28px;
        left: 0px;
        top: 0px;
        position: absolute;
        .sparkBg("mapPage/4.png");
      }

      ._5 {
        width: 21px;
        height: 29px;
        left: 0px;
        top: 0px;
        position: absolute;
        .sparkBg("mapPage/5.png");
      }

      ._6 {
        width: 20px;
        height: 29px;
        left: 1px;
        top: 0px;
        position: absolute;
        .sparkBg("mapPage/6.png");
      }

      ._7 {
        width: 20px;
        height: 28px;
        left: 1px;
        top: 0px;
        position: absolute;
        .sparkBg("mapPage/7.png");
      }

      ._8 {
        width: 20px;
        height: 29px;
        left: 1px;
        top: 0px;
        position: absolute;
        .sparkBg("mapPage/8.png");
      }

      ._9 {
        width: 21px;
        height: 29px;
        left: 0px;
        top: 0px;
        position: absolute;
        .sparkBg("mapPage/9.png");
      }

      ._0 {
        width: 20px;
        height: 29px;
        left: 1px;
        top: 0px;
        position: absolute;
        .sparkBg("mapPage/0.png");
      }
    }

    .sub {
      width: 17px;
      height: 8px;
      left: 94px;
      top: 28px;
      position: absolute;
      .sparkBg("mapPage/sub.png");
    }
  }
}