@import "../../res.less";

.mappage {
  width: 15430px;
  height: 750px;
  left: 0px;
  top: 0px;
  position: absolute;
  transform-origin: calc(100vw / 2) calc(100vw / 2);
  transform: rotate(90deg);
  .mapBgbox {
    width: 15430px;
    height: 750px;
    left: 0px;
    top: 0px;
    position: absolute;

    .mapBgimg1 {
      width: 7715px;
      height: 750px;
      position: absolute;
      .sparkBg("mapPage/mapBg1.png");
    }

    .mapBgimg2 {
      width: 7715px;
      height: 750px;
      position: absolute;
      left: 7715px;
      .sparkBg("mapPage/mapBg2.png");
    }
  }
  .mengmeng {
    width: 12861px;
    height: 358px;
    position: absolute;
    bottom: 60px;
    left: 240px;
    .sparkBg("mapPage/牛蒙蒙形象.png");
  }
  .guailing {
    width: 106px;
    height: 177px;
    position: absolute;
    right: 619px;
    top: 288px;
    pointer-events: none;
    .sparkBg("mapPage/谷爱凌.png");

  }
  .mapBgbox_mask {
    width: 15430px;
    height: 750px;
    left: 0px;
    top: 0px;
    position: absolute;
  }

  .mist_svga {
    width: 1624px;
    height: 750px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    // pointer-events: none;
  }
}

.mapcontent {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: calc(100vw / 2) calc(100vw / 2);
}

.map-btnbox {
  width: 100vh;
  height: 100vw;
  left: 0px;
  // top: -135px;
  position: fixed;
  transform: rotate(90deg);
  transform-origin: calc(100vw / 2) calc(100vw / 2);

  .backbtn {
    width: 118px;
    height: 118px;
    left: 3%;
    top: 450px;
    position: fixed;
    .sparkBg("mapPage/backBtn.png");
  }


  .closebtn {
    width: 173px;
    height: 63px;
    left: 1335px;
    top: 2px;
    position: absolute;
    .sparkBg("mapPage/closeBtn.png");
    
  }
  .bottomr {
    left: 71% !important;
  }
  .topleft {
    left: 4% !important;
  }
  .topright {
    left: 60% !important;

  }
  .bottoml {
    left: 4% !important;
  }
}