@import "../../res.less";
.gameSuccessIsLessThanStar1 {
  width: 1544px;
  height: 750px;
  left: 5px;
  top: 0px;
  position: absolute;
  .snowAndIceAtmosphere {
    width: 1544px;
    height: 738px;
    left: 0px;
    top: 0px;
    position: absolute;
    .sparkBg("游戏成功未满星1/冰雪氛围.png");
  }
  .light {
    width: 604px;
    height: 605px;
    left: 480px;
    top: 145px;
    position: absolute;
    .sparkBg("游戏成功未满星1/light.png");
  }
  .leftButton {
    width: 420px;
    height: 96px;
    left: 371px;
    top: 589px;
    position: absolute;
    .button5 {
      width: 395px;
      height: 88px;
      left: 0px;
      top: 8px;
      position: absolute;
      .bluebg {
        width: 395px;
        height: 88px;
        left: 0px;
        top: 0px;
        position: absolute;
        .sparkBg("游戏成功未满星1/bluebg.png");
      }
      .led20Coins {
        width: 158px;
        height: 35px;
        left: 122px;
        top: 26px;
        position: absolute;
        font-size: 36px;
        line-height: 35px;
        color: rgba(32, 73, 121, 1);
      }
    }
    .justify {
      width: 122px;
      height: 37px;
      left: 298px;
      top: 0px;
      position: absolute;
      .sparkBg("游戏成功未满星1/狡辩.png");
    }
    .inviteFriends {
      width: 89px;
      height: 19px;
      left: 320px;
      top: 7px;
      position: absolute;
      font-size: 20px;
      line-height: 19px;
      color: rgba(255, 255, 255, 1);
    }
  }
  .button4 {
    width: 395px;
    height: 88px;
    left: 839px;
    top: 596px;
    position: absolute;
    .sparkBg("游戏成功未满星1/按钮4.png");
  }
  .copy {
    width: 517px;
    height: 182px;
    left: 549px;
    top: 354px;
    position: absolute;
    .scorebo {
      width: 517px;
      height: 182px;
      left: 0px;
      top: 0px;
      position: absolute;
      .sparkBg("游戏成功未满星1/scoreBo.png");
    }
    .layer4773 {
      width: 146px;
      height: 38px;
      left: 44px;
      top: 101px;
      position: absolute;
      font-size: 48px;
      line-height: 38px;
      color: rgba(252, 242, 159, 1);
    }
    .layer300 {
      width: 118px;
      height: 38px;
      left: 321px;
      top: 101px;
      position: absolute;
      font-size: 48px;
      line-height: 38px;
      color: rgba(252, 242, 159, 1);
    }
  }
  .title {
    width: 773px;
    height: 274px;
    left: 398px;
    top: 60px;
    position: absolute;
    .sparkBg("游戏成功未满星1/title.png");
  }
  .headings {
    width: 300px;
    height: 35px;
    left: 649px;
    top: 282px;
    position: absolute;
    .sparkBg("游戏成功未满星1/小标题.png");
  }
  .stars {
    width: 224px;
    height: 89px;
    left: 689px;
    top: 74px;
    position: absolute;
    .star3 {
      width: 80px;
      height: 79px;
      left: 77px;
      top: 0px;
      position: absolute;
      .sparkBg("游戏成功未满星1/star3.png");
    }
    .star2 {
      width: 81px;
      height: 79px;
      left: 0px;
      top: 10px;
      position: absolute;
      .sparkBg("游戏成功未满星1/star2.png");
    }
    .nullsta {
      width: 62px;
      height: 58px;
      left: 162px;
      top: 19px;
      position: absolute;
      .sparkBg("游戏成功未满星1/nullsta.png");
    }
  }
  .ribbon {
    width: 649px;
    height: 340px;
    left: 482px;
    top: 84px;
    position: absolute;
    .sparkBg("游戏成功未满星1/彩带.png");
  }
}
