@import "../../res.less";
.rank {
  width: 820px;
  height: 609px;
  position: absolute;
  transform: rotate(90deg);
  .popupWindowBottom {
    width: 615px;
    height: 559px;
    left: 74px;
    top: 29px;
    position: absolute;
    .sparkBg("排行榜/弹窗底板.png");
  }
  .shutDown {
    width: 50px;
    height: 51px;
    left: 641px;
    top: 0px;
    position: absolute;
    .sparkBg("common/close.png");
  }
  .text {
    width: 520px;
    height: 190px;
    left: 121px;
    top: 145px;
    position: absolute;
    .beforeInvitingFriends {
      width: 530px;
      height: 23px;
      left: 0px;
      top: 0px;
      position: absolute;
      font-size: 24px;
      line-height: 23px;
      color: rgba(25, 29, 32, 1);
    }
    .no150 {
      width: 80px;
      height: 18px;
      left: 82px;
      top: 172px;
      position: absolute;
      font-size: 18px;
      line-height: 18px;
      color: rgba(88, 88, 88, 1);
    }
  }
  .button3 {
    width: 298px;
    height: 52px;
    left: 230px;
    top: 557px;
    position: absolute;
    .sparkBg("排行榜/按钮3.png");
  }
  .jPrizesFigure {
    width: 389px;
    height: 116px;
    left: 189px;
    top: 191px;
    position: absolute;
    .sparkBg("排行榜/j奖品图.png");
  }
  .snowAndIceAtmosphere {
    width: 820px;
    height: 417px;
    left: 0px;
    top: 183px;
    position: absolute;
    .sparkBg("common/冰雪氛围.png");
    pointer-events: none;
  }
}
