@import "../../res.less";
.homePagebox {
  width: 100vh;
  height: 100vw;
  transform: rotate(90deg);
  transform-origin: calc(100vw / 2) calc(100vw / 2);
  position: fixed;
}
.homepage {
  width: 1624px;
  height: 750px;
  position: fixed;
  top: 0;
  left:50%;
  transform: translateX(-50%);
  .sparkBg("homePage/bgindex.png");
  
  .title {
    width: 639px;
    height: 183px;
    left: 495px;
    top: 180px;
    position: absolute;
    .sparkBg("homePage/title.png");
  }
  .leftPerson {
    position: absolute;
    width: 493px;
    height: 421px;
    left: 136px;
    top: 184px;
    .sparkBg("homePage/谷爱凌.png");
  }
  .rightPerson {
    position: absolute;
    width: 512px;
    height: 287px;
    left: 917px;
    top: 258px;
    .sparkBg("homePage/牛蒙蒙.png");
  }
  .startga {
    width: 364px;
    height: 126px;
    left: 615px;
    top: 525px;
    position: absolute;
    .sparkBg("homePage/startGa.png");
  }
  .gesturesAperture {
    width: 111px;
    height: 112px;
    left: 879px;
    top: 588px;
    position: absolute;
    .sparkBg("homePage/手势光圈.png");
  }
  .bottoml {
    width: 302px;
    height: 138px;
    left: 230px;
    top: 612px;
    position: absolute;
    .duiHuanShangDian {
      width: 132px;
      height: 133px;
      left: 0px;
      top: 5px;
      position: absolute;
      .sparkBg("homePage/兑换商店.png");
    }
    .deJinBi {
      width: 130px;
      height: 138px;
      left: 172px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/得金币.png");
    }
  }
  .bottomr {
    width: 298px;
    height: 139px;
    left: 1084px;
    top: 611px;
    position: absolute;
    .ultimateLeaderboard {
      width: 130px;
      height: 136px;
      left: 0px;
      top: 3px;
      position: absolute;
      .sparkBg("homePage/终极排行榜.png");
    }
    .moreGifts {
      width: 131px;
      height: 139px;
      left: 167px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/更多好礼.png");
    }
  }
  .topleft {
    width: 421px;
    height: 74px;
    left: 230px;
    top: 24px;
    position: absolute;
    .goldCoins {
      width: 172px;
      height: 55px;
      left: 249px;
      top: 13px;
      position: absolute;
      .coin {
        width: 172px;
        height: 55px;
        left: 0px;
        top: 0px;
        position: absolute;
        .sparkBg("homePage/coin.png");
      }
      .layer3418 {
        width: 84px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        left: 57px;
        top: 15px;
        position: absolute;
        font-size: 22px;
        color: rgba(235, 247, 255, 1);
      }
    }
    .picture2 {
      width: 218px;
      height: 74px;
      left: 0px;
      top: 0px;
      position: absolute;
      background: rgba(0,0,0,0.3);
      border-radius: 50px;
      .picture3 {
        width: 58px;
        height: 58px;
        left: 12px;
        top: 8px;
        position: absolute;
        border-radius: 50%;
        border: 2px solid #fff;
        box-sizing: border-box;
        .sparkBg("homePage/头像3.png");
      }
      .currentScore {
        width: 94px;
        height: 21px;
        left: 81px;
        top: 12px;
        position: absolute;
        font-size: 22px;
        line-height: 21px;
        color: rgba(255, 255, 255, 1);
      }
      .layer34173 {
        width: 134px;
        left: 81px;
        top: 34px;
        position: absolute;
        font-size: 22px;
        color: rgba(235, 247, 255, 1);
      }
    }
    .lunbo {
      position: absolute;
      left: 0px;
      top: 90px;
      width: 418px;
      height: 39px;
      padding: 0 20px 0 52px;
      box-sizing: border-box;
      color: #fff;
      font-size: 20px;
      .sparkBg("homePage/轮播.png");
    }
  }
  .topright {
    width: 448px;
    height: 58px;
    left: 853px;
    top: 37px;
    position: absolute;
    .tiShi {
      width: 292px;
      height: 36px;
      left: 0px;
      top: 10px;
      position: absolute;
      background: rgba(255,255,255,0.5);
      border-radius: 30px;
      line-height: 36px;
      font-size: 20px;
      text-align: center;
      color: #4f95c7;
      padding: 0 8px;
      box-sizing: border-box;
    }
    .jiangPin {
      width: 59px;
      height: 58px;
      left: 314px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/奖品.png");
    }
    .guiZe {
      width: 59px;
      height: 58px;
      left: 389px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/规则.png");
    }
  }
}


.sui-marquee-container .marquee-list .marquee-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}